/* ===================
色
=================== */
$bg-color: #FDF6F2;
$font-main: #3a2418e7;
$sub-color-g: #8CD3B4;
$sub-color-b: #8b6f5ac9;
$sub-color-w: white;
$accent-color: #E28D51;
$header-bg-color: #F1EBE8;
$header-font-color: #A16E4B;
$sub-color-gg: #8fdab9ad;



/* ===================
フォント
=================== */
$font-sans: 'Noto Sans JP', sans-serif;
$font-heading: 'Zen Kaku Gothic New', sans-serif;